[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
WorkingDirectory={{ base_dir }}/kube-proxy
ExecStart={{ bin_dir }}/kube-proxy \
  --config={{ base_dir }}/kube-proxy/conf/kube-proxy.yaml \
  --alsologtostderr=true \
  --logtostderr=false \
  --log-dir={{ base_dir }}/kube-proxy/logs \
  --v=2
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
